/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

$body-font: "Poppins", sans-serif;
$title-font: "Poppins", sans-serif;

$primary-color: #0e82fd;
$primary-dark: #086edb;
$primary-light: #5facff;
$secondary-color: #012047;
$secondary-dark: #011022;
$secondary-light: #073a77;
$text-color: #131212;
$white: #ffffff;

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;

  &:hover {
    text-decoration: none;
    color: #000;
  }
}

body {
  font-family: $body-font;
  overflow-x: hidden;
  color: #000;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3 {
  font-family: $title-font;

  span {
    color: $primary-color;
  }
}

.glb-btn {
  padding: 0.6rem 1rem;
  background: $primary-color;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.35rem;
  font-size: 0.9rem;

  &:hover {
    background: $secondary-color;
    color: #fff;
  }
}

h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 600;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 3rem;
}

h3 {
  font-size: 2.1875rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5625rem;
}

h5 {
  font-size: 1.125rem;
}

.sub-heading {
  font-size: 0.9rem;
  border-radius: 1.25rem;
  font-weight: 500;
  padding: 0.5375rem 1.45rem;
  position: relative;
  margin-bottom: 0.9375rem;
  box-shadow: none;
  display: inline-flex;
  color: $primary-color;
  border: 1px solid $primary-color;
  margin-bottom: 28.8px;

  // &::before,
  // &::after {
  //   content: "";
  //   background: #BFDCFF;
  //   width: 0.3125rem;
  //   height: 0.3125rem;
  //   border-radius: 50%;
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   -webkit-transform: translateY(-50%);
  // }

  // &::before {
  //   left: 0.5rem;
  // }

  // &::after {
  //   right: 0.5rem;
  // }
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  text-decoration: none;
}

.btn-sec {
  a:not(:last-child) {
    margin-right: 0.6875rem;
  }
}

header {
  background: #fff;
  box-shadow: 0rem 0.0625rem 0rem 0rem rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 9;

  .top-social {
    background: $primary-color;
    padding: 0.3125rem 0;

    .social-icon a {
      width: 1.5625rem;
      height: 1.5625rem;
      display: inline-block;
      vertical-align: middle;
      background: $white;
      text-align: center;
      border-radius: 50%;
      font-size: 0.875rem;
      line-height: 1.8;
      color: $primary-color;
    }

    .privacy {
      color: $white;

      a {
        font-size: 0.875rem;
        color: $white;
      }
    }
  }

  .bottom-header {
    padding: 1rem 0;

    .logo-sec {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        img {
          display: block;
          margin: auto;
        }
      }
    }

    @media (min-width: 62rem) {
      .menu-sec {
        display: flex;
        justify-content: center;
      }
    }

    nav {
      @media (min-width: 62rem) {
        ul {
          display: flex;
          align-items: center;

          li {
            a {
              display: flex;
              align-items: center;
              margin-right: 1.5625rem;

              &:hover {
                color: #3fb7b4;
              }
            }
          }

          .current-menu-item {
            a {
              font-weight: 500;
              color: #3fb7b4;
            }
          }
        }

        .menu-item-has-children {
          position: relative;
          display: flex;
          align-items: center;

          & > a {
            margin-right: 0.3125rem;
          }

          &::after {
            content: "";
            height: 0.375rem;
            width: 1.25rem;
            margin-right: 1.25rem;
            background: url("../images/dropdown.svg");
            background-repeat: no-repeat;
            background-position-y: center;
            cursor: pointer;
          }

          i {
            margin-left: 0.75rem;
          }

          ul.sub-menu {
            position: absolute;
            top: 3.525rem;
            padding: 0rem;
            border-radius: 0 0 0.35rem 0.35rem;
            background: $primary-color;
            box-shadow: 0rem 0.25rem 1.875rem 0.5rem rgba(0, 0, 0, 0.07);
            left: 0;
            z-index: 5;
            display: block;
            opacity: 0;
            visibility: hidden;
            transition: all ease 1s;
            max-height: 0;

            &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
              border-radius: 0.625rem;
              background-color: #f5f5f5;
            }

            &::-webkit-scrollbar {
              width: 0.375rem;
              background-color: #f5f5f5;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 0.625rem;
              -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
              background-color: #2c8886;
            }

            li {
              margin-left: 0;
              margin-right: 0;
              opacity: 0;
              transition: all ease 1.2s;

              a {
                padding: 0.8rem 1rem;
                min-width: 16.5625rem;
                margin-right: 0;
                color: #fff;
                font-size: 1rem;
                font-family: Poppins;
                font-style: normal;
                font-weight: 400;

                line-height: normal;
                border-bottom: 0.0625rem solid #fff;
                transition: all ease 0.3s 0s;

                @media (min-width: 62rem) {
                  &:hover {
                    color: #fff;
                  }
                }
              }

              &:last-child {
                a {
                  border-bottom: 0px;
                }
              }
            }
          }

          @media (min-width: 62rem) {
            &:hover {
              ul.sub-menu {
                opacity: 1;
                max-height: 62.5rem;
                visibility: visible;
                overflow-y: auto;

                li {
                  opacity: 1;
                  transition: all ease 1s;
                }
              }
            }
          }
        }
      }
    }

    .contact-nav {
      text-align: right;

      li {
        display: inline-block;
        vertical-align: middle;

        // margin-left: 1.25rem;
        a {
          display: inline-block;
          color: $text-color;
          font-weight: 600;
          font-size: 0.875rem;
          text-align: center;
          // margin: 0.3125rem 0 0;

          span {
            display: block;
            background: $secondary-color;
            font-size: 1.125rem;
            padding: 0.125rem 0.375rem;
            border-radius: 0.375rem;
            color: #fff;
            margin: 0.125rem 0 0;

            img {
              max-width: 1rem;
              filter: invert(1) brightness(1);
              margin: -0.125rem 0 0;
            }
          }
        }
      }
    }
  }
}

.banner-section {
  background: url("../images/home-banner-bg.webp") no-repeat;
  background-size: cover;
  padding-top: 0;
  position: relative;

  h1 {
    margin-bottom: 2rem;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .search-form {
    form {
      display: flex;
      gap: 0.5rem;
      padding: 0.8rem 1rem;
      background-color: #fff;
      border-radius: 0.35rem;
    }

    .inpt {
      position: relative;

      & > i {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: $secondary-color;
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 1.25rem;
        width: 0.1rem;
        background: $secondary-color;
      }

      &:nth-last-child(-n + 1) {
        &::after {
          content: none;
        }
      }

      @media (min-width: 768px) {
        &:nth-last-child(-n + 2) {
          &::after {
            content: none;
          }
        }
      }
    }

    input {
      width: 100%;
      padding: 0.8rem 1rem;
      padding-left: 1.5rem;
      background: transparent;
      border: 0px;
      font-size: 0.9rem;

      &:focus {
        outline: none;
        border: 0px;
      }

      &[type="submit"] {
        padding-inline: 2rem;
        background: $secondary-color;
        color: #fff;
        border-radius: 0.35rem;
      }
    }
  }

  .banner-img {
    z-index: 1;
    position: relative;

    &::before {
      content: "";
      background: url("../images/banner-bg-01.webp") no-repeat;
      background-position: top center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 2.5rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }
}

.banner-bg {
  .banner-bg-01 {
    position: absolute;
    top: 0;
    left: 0;
  }

  .banner-bg-02 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .banner-bg-03 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .banner-bg-04 {
    position: absolute;
    top: -3rem;
    right: 0;
    z-index: -1;
  }

  .banner-bg-05 {
    position: absolute;
    left: 3%;
    bottom: 15%;
  }

  .banner-bg-06 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
  }
}

.date:focus {
  outline: none;
  border-color: $primary-color;
}

.ui-datepicker {
  width: 280px;
  padding: 5px;
  background: $primary-color;
  border-radius: 4px;
  box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  display: none;
}

@media screen and (max-width: 580px) {
  .ui-datepicker {
    top: auto !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100%;
    border-radius: 0px;
  }
}

.ui-datepicker.active {
  opacity: 1;
}

.ui-datepicker-header {
  height: 40px;
  padding: 3px;
  margin-bottom: 10px;
}

.ui-datepicker-header .ui-datepicker-title {
  text-align: center;
  line-height: 34px;
}

.ui-datepicker-month,
.ui-datepicker-year {
  -webkit-appearance: none;
  border: 0;
  background: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin: 0 1px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
  cursor: pointer;
  text-indent: 9999px;
  overflow: hidden;
  border-radius: 3px;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
  background: $secondary-color;
}

.ui-datepicker-prev {
  float: left;
}

.ui-datepicker-prev:after {
  transform: rotate(45deg);
  margin-left: 15px;
}

.ui-datepicker-next {
  float: right;
}

.ui-datepicker-next:after {
  transform: rotate(-135deg);
  margin-left: 13px;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: "";
  position: absolute;
  display: block;
  margin-top: -10px;
  width: 6px;
  height: 6px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  pointer-events: none;
}

.ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}

.ui-datepicker-calendar thead tr th {
  width: 40px;
  padding-bottom: 6px;
}

.ui-datepicker-calendar thead tr th span {
  display: block;
  width: 100%;
  padding: 0;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.ui-datepicker-calendar tbody tr td {
  padding-right: 3px;
  padding-bottom: 3px;
}

.ui-datepicker-calendar tbody tr td:first-child {
  padding-left: 3px;
}

.ui-state-default {
  display: block;
  text-decoration: none;
  color: white;
  height: 34px;
  line-height: 34px;
  border-radius: 3px;
  font-size: 12px;
}

.ui-state-default:hover {
  background: $secondary-color;
  text-decoration: none;
  color: white;
}

.ui-state-highlight {
  color: #000;
}

.ui-state-active:not(.ui-state-highlight) {
  color: white;
  background: $secondary-color;
}

.ui-datepicker-unselectable .ui-state-default {
  color: rgba(255, 255, 255, 0.6);
  pointer-events: none;
}

.usp-service {
  padding: 5rem 0;

  .row {
    gap: 1.5rem 0;
    justify-content: center;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
    flex-wrap: wrap;
    font-size: 0.9rem;
    font-weight: 500;
    color: $text-color;
    border: 0.3125rem solid $white;
    // padding: 1.1rem 0.4rem;
    // border-radius: 0.5rem;
    // box-shadow: 0.625rem 1.5rem 1.5rem rgba(0, 0, 0, 0.05), 0 0 0.9375rem 0.5rem rgba(0, 0, 0, 0.06) inset;
    height: 100%;
    text-align: center;

    & > i {
      color: $secondary-color;
    }

    &:hover {
      color: $primary-color;

      span {
        i {
          transform: translateX(0.25rem);
          color: $primary-color;
        }
      }
    }

    span {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      flex-wrap: wrap;
    }

    i {
      font-size: 1rem;
      transition: all 0.3s;
    }

    figure {
      display: block;
      width: 100%;
      position: relative;
      border-radius: 1rem;
      overflow: hidden;
      margin: 0;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
      }
      & > img {
        display: block;
        width: 100%;
        max-height: 18rem;
        object-fit: cover;
        border-radius: 1rem;
      }
      i {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        height: 4rem;
        width: 4rem;
        background: $primary-color;
        border-radius: 50%;
        font-size: 1.5rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.top-specialist {
  // background-color: $primary-light;
  padding: 5rem 0;
  background: url("../images/home-banner-bg.webp"), no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

  .item {
    text-align: center;

    span {
      font-size: 1.3rem;
      font-weight: 500;
      color: $secondary-color;
      transition: all 0.3s;
    }

    p {
      color: $secondary-color;
    }

    a:hover {
      span {
        color: $primary-color;
      }

      figure {
        background: $primary-color;

        .sr-icon {
          transform: scale(1.2);
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(307deg) brightness(107%)
            contrast(101%);
        }
      }
    }
  }

  .container {
    position: relative;
    z-index: 2;
    text-align: center;
  }

  h2 {
    margin-bottom: 3rem;
  }

  figure {
    width: 120px;
    height: 120px;
    // border: 1px solid $primary-color;
    background: #fff;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 10px 24px 24px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto 30px;

    .sr-icon {
      max-width: 55px;
      margin: auto;
      transition: all 0.3s;
      filter: brightness(0) saturate(100%) invert(47%) sepia(70%) saturate(6055%) hue-rotate(201deg) brightness(103%)
        contrast(98%);
    }
  }
}

.ft-doctors {
  padding: 5rem 0;

  .owl-nav {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);

    button {
      width: 56px;
      height: 56px;
      background: $primary-color !important;
      border: 1px solid #f0f6ff !important;
      border-radius: 50% !important;
      color: #fff !important;
      margin: 0;
      display: flex !important;
      align-items: center;
      justify-content: center;

      i {
        font-size: 1rem;
      }
    }

    .owl-prev {
      position: relative;
      left: -2rem;
    }

    .owl-next {
      position: relative;
      right: -2rem;
    }
  }

  .doc-card {
    .img{
      position: relative;
      a{
        display: block;
      }
      .badge {
      display: inline-flex;
      gap: 0.4rem;
      align-items: center;
      font-weight: 400;
      line-height: 20px;
      position: absolute;
      right: 1rem;
      top: 1rem;

      i {
        font-size: 0.4rem;
      }

      &.available {
        background-color: #edf9f0;
        color: #04bd6c;
      }

      &.unavailable {
        background-color: #ffe1e1;
        color: #ff0000;
      }
    }
    }
    .active-bar {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.2rem 1rem;

      h5 {
        margin-bottom: 0;
        color: $primary-color;
        font-size: 0.76rem;
        padding: 0.3rem 0.6rem;
        background: #000;
        border-radius: 3rem;
        color: #fff;
        a {
           color: #fff;
        }
      }

     
    }

    .doctor-info-detail {
      padding: 0 1rem 1rem;

      h3 {
        font-size: 1.1rem;
      }

      .det {
        display: flex;
        gap: 1rem;
        align-items: center;
        border-bottom: 1px solid #e6e8ee;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        p {
          margin-bottom: 0;
          display: flex;
          gap: 0.5rem;
          font-size: 0.9rem;
          color: #465d7c;
          align-items: center;

          i {
            font-size: 0.8rem;
          }

          &.time-value {
            i {
              font-size: 0.4rem;
              color: $primary-color;
            }
          }
        }
      }

      .flex-wrp {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .fee {
          p {
            color: #465d7c;
            font-size: 0.9rem;
            margin-bottom: 0.3rem;
          }

          h3 {
            color: #e04f16;
          }
        }
      }
    }
  }
}

.why {
  padding: 5rem 0;
  background: $secondary-color;

  h2,
  p {
    color: #fff;
  }

  h2 {
    margin-bottom: 1.2rem;
  }

  img {
    &.main {
      border-radius: 0.35rem;
    }
  }
}

.card-sec {
  margin-top: 4rem;
}

.why-card {
  padding: 1.4rem 1.4rem 2.2rem;
  background: #fff;
  // margin-top: 3rem;
  border-radius: 0.35rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100%;
  border: 1px solid $primary-color;

  &::before {
    content: "";
    height: 20rem;
    width: 16rem;
    background: $primary-color;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: -4.5rem;
    z-index: 1;
    transition: all ease 1s 0s;
  }

  .inner {
    position: relative;
    z-index: 2;
  }

  p {
    color: $secondary-color;
    margin-bottom: 0;
    font-size: 1rem;
  }

  h4 {
    font-size: 1.4rem;
    font-weight: 500;
    color: $secondary-color;
  }

  .icon {
    height: 4.125rem;
    width: 4.125rem;
    // background: $primary-color;
    border-radius: 0.35rem;
    margin: 0 auto 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -1rem;
    transition: all ease 0.5s 0s;

    i {
      font-size: 1.6rem;
      color: #fff;
    }
  }

  &:hover {
    &::before {
      height: 50rem;
      width: 50rem;
      top: 0;
      background: $secondary-color;
    }

    & * {
      color: #fff;
    }

    .icon {
      background: #fff;
      top: 0;

      i {
        color: $primary-color;
      }
    }
  }
}

.rvw-card {
  padding: 1.69rem 1.75rem;
  border-radius: 0.75rem;
  background: #fff;
  box-shadow: 0px 14px 88px -7px rgba(0, 0, 0, 0.17);
  height: 100%;

  .prof {
    display: flex;
    gap: 0.62rem;
    position: relative;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 1.25rem;

    & > img {
      position: absolute;
      right: 0;
      top: 0;
      width: 1.5rem;
      height: 1.5rem;
    }

    .image {
      width: 3rem;
      height: 3rem;
    }

    .tx {
      h5 {
        color: #000;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: 0 0.25rem;

        img {
          width: 1rem;
          height: 1rem;
        }
      }

      h6 {
        color: var(--Grey, #595959);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
      }
    }
  }

  .bdy {
    text-align: left;

    & > img {
      max-width: 7rem;
      margin-bottom: 1.25rem;
    }

    h4 {
      color: var(--Dark, #5d5d5d);
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5rem;
      /* 150% */
    }

    p {
      color: var(--Dark, #5d5d5d);
      font-size: 1rem;
      font-style: italic;
      font-weight: 400;
      line-height: 1.5rem;
      /* 150% */
    }
  }
}

.reviews {
  padding-top: 4rem;
  overflow-x: hidden;

  .owl-nav {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);

    button {
      width: 56px;
      height: 56px;
      background: $primary-color !important;
      border: 1px solid #f0f6ff !important;
      border-radius: 50% !important;
      color: #fff !important;
      margin: 0;
      display: flex !important;
      align-items: center;
      justify-content: center;

      i {
        font-size: 1rem;
      }
    }

    .owl-prev {
      position: relative;
      left: -2rem;
    }

    .owl-next {
      position: relative;
      right: -2rem;
    }
  }

  .cara-style {
    margin-top: -2.5rem;

    .owl-carousel {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: -9rem;
        top: 0;
        height: 100%;
        width: 26.125rem;
        z-index: 2;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fff 58.67%);
      }

      &::after {
        content: "";
        position: absolute;
        right: -9rem;
        top: 0;
        height: 100%;
        width: 26.125rem;
        z-index: 2;
        background: linear-gradient(100deg, rgba(255, 255, 255, 0) 0%, #fff 58.67%);
      }
    }

    .owl-stage {
      padding: 5rem 0;
    }

    .owl-nav {
      z-index: 3;
      top: 40%;
    }

    .owl-dots {
      margin-top: -2rem;
    }
  }
}

footer {
  padding: 8rem 0 2rem;
  background: url("../images/home-banner-bg.webp"), no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

  p {
    color: #465d7c;
    font-size: 0.9375rem;
    margin-bottom: 0;
    max-width: 24.9375rem;
  }

  .social {
    display: flex;
    gap: 0 0.75rem;

    li {
      a {
        width: 1.75rem;
        height: 1.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #d4d4d8;
        color: $secondary-color;
        border-radius: 50%;
        font-size: 0.7rem;

        &:hover {
          background: #e76936;
          border: 1px solid #e76936;
          color: #fff;
        }
      }
    }
  }

  h4 {
    color: $secondary-color;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1rem;
  }

  .links {
    li {
      a {
        color: #465d7c;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 1rem;

        &:hover {
          color: $primary-color;
        }
      }

      &:last-child {
        a {
          margin-bottom: 0;
        }
      }
    }

    &.cnct {
      li {
        a {
          display: flex;
          align-items: center;
          gap: 0 0.5rem;
          margin-bottom: 1rem;

          .ico {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            border: 1px solid #fff;
            border-radius: 50%;
          }

          span {
            display: block;
          }
        }
      }
    }
  }

  form {
    position: relative;
    margin-bottom: 0.5625rem;

    .form-control {
      padding: 1rem 3.5625rem 1rem 0.9375rem;
      color: #000;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;

      &::placeholder {
        color: #465d7c;
      }
    }

    .submt {
      position: absolute;
      width: 2.375rem;
      height: 2.1875rem;
      background-color: $secondary-color;
      border-radius: 0.4375rem;
      top: 0.4375rem;
      right: 0.4375rem;

      .btn {
        width: 100%;
        height: 100%;
      }

      &::before {
        position: absolute;
        content: "";
        background-image: url(../images/send.svg);
        top: 0.375rem;
        right: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
      }
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0;
    border-top: 1px solid $secondary-color;

    .links {
      display: flex;
      gap: 1rem;
    }
  }

  .copyright {
    margin-top: 4.12rem;

    h6 {
      text-align: center;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.375rem;
      /* 137.5% */
      color: #465d7c;
      margin-bottom: 0;
    }
  }
}

.support {
  margin-top: -2rem;
  margin-bottom: -4rem;
  position: relative;
  z-index: 2;

  * {
    color: #fff;
  }

  .wrap {
    background: $primary-color;
    border-radius: 2rem;
    padding: 3rem 5rem;

    h2 {
      margin-bottom: 0;
    }

    .row {
      align-items: center;
    }

    .sup {
      display: flex;
      gap: 2rem;
      justify-content: flex-end;

      li {
        display: flex;
        align-items: center;
        gap: 1rem;

        i {
          height: 4rem;
          width: 4rem;
          background: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.3rem;
          color: $primary-color;
        }

        .tx {
          width: 65%;

          h5 {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.faq-sec {
  padding: 2rem 0 5rem;

  h2 {
    margin-bottom: 1.5rem;

    & + p {
      max-width: 50rem;
      margin: auto;
    }
  }

  .accordian {
    margin-top: 3rem;
    margin-bottom: 3rem;

    li {
      text-align: left;
      padding: 1.25rem;
      border-radius: 0.25rem;
      border: 1px solid #01204726;

      h4 {
        position: relative;
        margin-bottom: 1.75rem;
        color: $secondary-color;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-left: 2.42rem;
        margin-bottom: 0;
        cursor: pointer;

        &::before {
          content: "Q";
          position: absolute;
          left: 0;
          top: 0.3rem;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          border-radius: 0.75rem;
          background: rgba(170, 217, 143, 0.1);
          color: $primary-color;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 0.5rem;
          width: 1rem;
          height: 1rem;
          background: url("../images/plus.png");
          background-size: cover;
          transition: all ease 1s 0s;
        }
      }

      &.active {
        h4 {
          &::after {
            transform: rotate(45deg);
          }
        }
      }

      .content {
        position: relative;
        padding-left: 2.42rem;
        margin-top: 1.75rem;
        display: none;

        &::before {
          content: "A";
          position: absolute;
          left: 0;
          top: 0rem;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          border-radius: 0.75rem;
          background: rgba(170, 217, 143, 0.1);
          color: var(--grey, #818181);
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      p {
        color: #626262;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.02rem;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      &:not(:last-child) {
        margin-bottom: 1.25rem;
      }
    }
  }
}

.about {
  padding: 0 0 5rem;

  img {
    border-radius: 0.35rem;
  }

  h2 {
    margin-bottom: 1.2rem;
  }

  .glb-btn {
    margin-top: 1rem;
  }
}

// Slidemenu
.slidemenu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(13, 13, 13, 0.5);
  z-index: 10;
  opacity: 0;
  z-index: 9999;
  transition: all 0.3s;
  pointer-events: none;
  visibility: hidden;
  &.open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
}
.slidemenu {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  right: -320px;
  width: 320px;
  background: #fff;
  color: $primary-color;
  @media (min-width: 768px) {
    right: -400px;
    width: 400px;
  }
  @media only screen and (max-width: 400px) {
    right: -100%;
    width: 100%;
  }
  transition: all 0.3s;
  .slidemenu-header {
    text-align: right;
    height: 52px;
    .close-menu {
      display: inline-block;
      padding: 10px 15px;
      font-size: 30px;
      color: #a4a4a4;
    }
  }
  .slidemenu-menu-area {
    height: calc(100vh - 52px);
    overflow-y: auto;
    .login-signup {
      padding: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 15px;
      .btn {
        width: 45%;
        display: block;
      }
    }
  }
  .slidemenu-items {
    padding: 10px 20px;
    .user-icon {
      position: relative;
      top: 2px;
      margin-right: 5px;
    }
    li.user-item {
      a {
        position: relative;
        // padding-left: 35px;
      }
      svg {
        position: absolute;
        top: 13px;
        left: 0;
      }
      li {
        a {
          padding-left: 0;
        }
      }
      // a[aria-expanded="false"]::after {
      //     content: "";
      //     font-family: remixicon;
      //     font-style: normal;
      //     content: "\ea6a";
      //     position: absolute;
      //     right: 0;
      //     font-size: 24px;
      //     top: 10px;
      // }
      // a[aria-expanded="true"]::after {
      //  transform: rotate(45deg);
      // }
      .list-unstyled .list-unstyled .list-unstyled {
        padding: 0 10px;
      }
    }
    a {
      color: $text-color;
      font-size: 18px;
    }
    & > li {
      border-bottom: 1px solid #d9d9d9;
      font-size: 1em;
      font-weight: 500;
      & > a {
        padding: 15px 0px;
        display: block;
        position: relative;
        &:focus {
          text-decoration: none;
        }
        // .ri-arrow-down-line {
        //     display: inline-block;
        // }
        // .ri-arrow-right-down-line {
        //     display: none;
        // }
      }

      a[data-bs-toggle="collapse"] {
        > i {
          position: absolute;
          right: 0px;
          top: 17px;
          font-size: 20px;
          background: #f5f5f5;
          width: 25px;
          height: 25px;
          line-height: 1.2;
          text-align: center;
          border-radius: 50%;
          border: 1px solid #ddd;
          &::before {
            content: "\ea13";
          }
        }
        // i {
        //     i::before {
        //         content: "\ea13";
        //     }
        // }
      }

      a[aria-expanded="true"] {
        > i {
          &::before {
            content: "\f1af";
          }
        }
        // i {
        //     i::before {
        //         content: "\ea13";
        //     }
        // }
      }
    }
  }
  .sub-menu {
    li {
      a {
        font-weight: 400;
        display: block;
        padding: 5px 0px;
        font-size: 1.1em;
        color: #333;
      }
      &:last-child {
        margin-bottom: 15px;
      }
      // .sub-menu a.collapsed {
      //     i::before {
      //         content: "\ea13";
      //     }
      // }
    }
  }
  &.menu-open {
    right: 0;
  }
}

header .menu-icon-area {
  display: none;
}
